<nav class="navbar navbar-expand-lg navbar-light bg-light static-top">
    <a class="navbar-brand" href="#">Mars Rover Photos</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('people_in_space')}}">People In Space</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">ISS location</a>
        </li>
      </ul>
      </div>
  </nav>